/Hablame/out/
/Hablame/tmp/
/Hablame/document.synctex.gz
.settings/*
.texclipse
.project
*.aux
*.dvi
*.lof
*.out
*.toc
*.log
*.pdf
/.texlipse
*.nav
*.snm
*.synctex.gz
/Hablame Praesentation/out/
/Hablame Praesentation/tmp/